MONGO_HOST=[insert mongoDB hostname]
MONGO_PORT=[insert mongoDB port]
MONGO_DATABASE=[insert mongoDB database name]
HOST_URL=[insert host url]
SSL_KEY=[path to ssl key]
SSL_CERTIFICATE=[path to ssl certificate]

# Optional (remove if unnecessary)
PORT=[insert server port here]
COOKIES_SECRET=[insert cookies secret]
COOKIES_AGE=[insert cookies age in miliseconds]